<div class = 'row row-top'>
	<h1 class='center search'>Favorites</h1>
		<% favorites.forEach(function(favorite){ %>
			<div class='well transparent search-div xs-col-12'>
		    <a href='<%= favorite.url %>'> <h3> <%= favorite.title %> : </h3></a>
		    <h4> <%= favorite.company %> </h4>
		    <h5> <%= favorite.site %> </h5>
		    <p> <%= favorite.description %> </p>
		    <a href='/favorites/<%= favorite.id %>' class='btn btn-primary delete-btn'>Remove</a>
		  </div>
		<% }) %>
</div>